.country-chart {
  margin: 20px auto;
  width: 790px;
  text-align: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  background: white;
}

.container {
  position: relative;
}

.progress-spinner {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 765px;
  height: 450px;
  background: white;
}

.chart-container {
  display: block;
  height: 450px;
  overflow-x: auto;
}

.chart {
  padding: 20px;
  width: 700px;
  height: 400px;
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .country-chart {
    width: 95%;
    max-width: 95%;
    min-width: 320px;
    box-shadow: none;
    border: none;
  }

  .example-container {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
  }
}